html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1; /* Ensures the main content fills the available space */
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0; /* Ensures the footer does not shrink */
  width: 100%; /* Ensures the footer spans the full width */
}
